#custom-dropdown-placeholder {
    width: 184px;
    height: 27px;
    cursor: pointer;
    border: 1px solid #A9A9A9;
    background: #FFF;
    padding: 2px 6px;
}

ul.custom-dropdown .active {
    display: block;
}

ul.custom-dropdown {
    display: none;
    background: #ffffff;
    width: 184px;
    /*position: absolute;*/
    border: 1px solid #A9A9A9;
    padding: 2px;
    -ms-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -ms-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

ul.custom-dropdown li {
    list-style: none;
}