#new-record-dialog .dialog-validate-tip {
    font-size: 12px;
    text-align: center;
    color: #B58787;
}

#new-record-dialog .record-for-date-message {
    font-size: 14px;
    font-style: italic;
    color: #A7A7A7;
    font-weight: normal;
    margin: 7px 11px 0 0;
}

    #new-record-dialog .record-for-date-message span {
        font-size: 13px;
    }

#new-record-dialog .column {
    float: left;
    width: 46%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.dialog-footer {
    float: left;
    width: 100%;
    text-align: right;
}
