body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.column {
    float: left;
}

.today {
    color: #676161;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    .today span {
        font-family: 'Century Gothic';
        color: #868686;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

        .today span:hover {
            color: #566F9E;
            cursor: pointer;
        }

.viewed {
    color: #676161;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
}

    .viewed span {
        font-family: 'Century Gothic';
        color: #868686;
    }

.report-section {
    float: left;
    margin-left: 15px;
    width: 30%;
}

#empty-report span {
    color: #676161;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
}

    #empty-report span i {
        color: #40945A;
    }

.record {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.record-header {
    border-bottom: 1px solid #c6c6c6;
    float: left;
    width: 100%;
}

    .record-header .record-title {
        font-size: 20px;
        font-family: 'Century gothic';
        color: #4A4A4A;
        width: 50%;
        float: left;
    }

    .record-header .money-spent {
        font-size: 19px;
        color: #525256;
        width: 50%;
        float: left;
        text-align: right;
    }

.description {
    text-align: left;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: normal;
    color: #2a293d;
    width: 100%;
    float: left;
}

.tag {
    float: left;
    font-family: 'Times New Roman', Times, serif;
    color: #566F9E;
    font-style: italic;
    cursor: pointer;
}

#cal-placeholder {
    float: left;
}

#report-footer {
    float: left;
    width: 100%;
    border-top: 1px solid #566F9E;
}

    #report-footer #report-sum-text {
        width: 73%;
        float: left;
        text-align: right;
        font-family: 'Bookman Old Style';
        font-size: 22px;
        font-style: normal;
        color: #5A6AA9;
    }

    #report-footer #report-sum {
        font-family: 'Bookman Old Style';
        font-size: 22px;
        font-style: normal;
        color: #5A6AA9;
        width: 27%;
        float: left;
        text-align: right;
    }

#new-record-button {
    width: 100%;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    padding: 4px 0px;
    margin-top: 5px;
}
