@{
    ViewBag.Title = "Oops";
}

<br />
<h2>Opps...</h2>
<hr />
<p>The reason you see this message is that you might have entered a wrong date to a URL</p> 
<br />
<p>A valid date should require following pattern: <b><i>DD/MM/YYYY</i></b></p>

@Styles.Render("~/Content/css/wrongPage")