<div id="new-record-dialog" title="Creating new record">
    <p class="dialog-validate-tip">All form fields are required.</p>
    <p id="title-validation-message" class="dialog-validate-tip" style="display: none;">Title must be numeric, contains unrerscore, dash, space and maximum length is 50 charecters.</p>
    <p id="description-validation-message" class="dialog-validate-tip" style="display: none;">Title must be numeric, contains unrerscore, dash, exclamation sign, question mark, comma, period, space and maximum length is 400 charecters.</p>
    <p id="money-spent-validation-message" class="dialog-validate-tip" style="display: none;">Money spent should be numeric only.</p>
    <div>
        <div class="column">
            <div class="row">
                <label for="title">Title: </label>
            </div>
            <div class="row">
                <label for="money-spent">Money spent: </label>
            </div>
            <div class="row">
                <label for="description">Description: </label>
            </div>
            <div class="row">
                <label for="tags">Tags: </label>
            </div>
        </div>
        <div class="column">
            <div class="row">
                <input id="title" type="text" />
            </div>
            <div class="row">
                <input id="money-spent" type="text" />
            </div>
            <div class="row">
                <input id="description" type="text" />
            </div>
            <div class="row">
                <input id="tags" type="text" />
            </div>
        </div>
        <div class="dialog-footer">
            <p class="record-for-date-message">Creating new record for <span></span></p>
        </div>
    </div>

</div>

<script type="text/javascript">
    var $title = $("#title");
    var $moneySpent = $("#money-spent");
    var $description = $("#description");
    var $tags = $("#tags");
    var $selectedDate = $(".active a").data('date');

    var $titleValidationMessage = $("#title-validation-message");
    var $descriptionValidationMessage = $("#description-validation-message");
    var $moneySpentValidationMessage = $("#money-spent-validation-message");

    var validator = new Validator();

    var dialog = $('#new-record-dialog').dialog({
        autoOpen: false,
        height: 310,
        width: 400,
        modal: true,
        buttons: {
            'Save': function () {

                var isModelValid = true;

                if (!validator.isTitleValid($title.val(), $titleValidationMessage))
                    isModelValid = false;
                if (!validator.isDescriptionValid($description.val(), $descriptionValidationMessage))
                    isModelValid = false;
                if (!validator.isMoneySpentValid($moneySpent.val(), $moneySpentValidationMessage))
                    isModelValid = false;

                if (!isModelValid)
                    return false;

                var title = $title.val().trim();
                var descrip = $description.val().trim();
                var moneySpent = new Number($moneySpent.val());

                //  tags - must be array, filled via dropdownvar

                reportManager.appendRecord(title, moneySpent, descrip, $tags.val().split(','), $selectedDate);
                dialog.dialog("close");
            },
            'Cancel': function () {
                $title.val("");
                $moneySpent.val("");
                $description.val("");
                $tags.val("");

                $titleValidationMessage.hide();
                $descriptionValidationMessage.hide();
                $moneySpentValidationMessage.hide();

                dialog.dialog("close");
            }
        }
    });

    $('#new-record-button').click(function () {
        dialog.dialog('open');
    });

    // create here autocomplete for element id="tags"
</script>
