<div id="create-record-dialog" class="modal fade" role="dialog">
    <div class="modal-dialog" style="max-width: 500px;">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title record-for-date-message">Create new record for <span></span></h4>
            </div>

            <div class="modal-body">
                <div class="validation-tips">
                    <p id="title-validation-message" class="dialog-validate-tip" style="display: none;"><span>Title</span> - must be numeric, contains underscore, dash, space and maximum length is 50 charecters.</p>
                    <p id="description-validation-message" class="dialog-validate-tip" style="display: none;"><span>Description</span> - must be numeric, contains underscore, dash, exclamation sign, question mark, comma, period, space and maximum length is 400 charecters.</p>
                    <p id="money-spent-validation-message" class="dialog-validate-tip" style="display: none;"><span>Money spent</span> - must be numeric only.</p>
                    <p id="tags-validation-message" class="dialog-validate-tip" style="display: none;"><span>Tags</span> - must not be empty.</p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6"><label>Title: </label></div>
                        <div class="col-md-6 m-b-13"><input id="title" type="text" class="form-control" /></div>
                        <div class="col-md-6"><label>Money spent: </label></div>
                        <div class="col-md-6 m-b-13"><input id="money-spent" type="text" class="form-control" /></div>
                        <div class="col-md-6"><label>Description: </label></div>
                        <div class="col-md-6 m-b-13"><input id="description" type="text" class="form-control" /></div>
                        <div class="col-md-12">
                            <select id="tags" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-default">Ok</button>
                <button type="button" class="btn-dismiss btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var tagsMultiselect = new Multiselect($("#tags"), "Select tags...", "report/api/tags");
</script>