@model RecordViewModel

<div class="record">
    <div class="record-header">
        <div class="record-title">
            <span>@Model.Title</span>
        </div>
        <div class="money-spent">
            <span>@Model.MoneySpent</span>
        </div>
    </div>
    <div class="description">
        <span>@Model.Description</span>
    </div>
    <div class="tags">
        @foreach (var tag in Model.Tags)
        {
            <a class='tag' onclick="javascript: void (0);">#@tag.Name</a>
        }
    </div>
</div>