@model ReportViewModel
@{
    ViewBag.Title = "Reports";
}

<h2>Today is: @ViewBag.CurrentDate </h2>
<h4>Viewed date: @ViewBag.ViewedDate</h4>

<div id="cal" class="column"></div>

<div id="records">
    @Html.Partial("ReportForDate", Model)
</div>

<script type="text/javascript">
    var calendar = new calendarCommon('@ViewBag.ViewedDate');
</script>