@model ReportViewModel

<div id="records">
    @foreach (var record in Model.Records)
    {
        @Html.Partial("Record", record)
    }
</div>
<div id="report-footer">
    <div id="report-sum-text">
        <span>Sum:</span>
    </div>
    <div id="report-sum">
        <span>@Model.Sum</span>
    </div>
</div>