
<div id="new-record-dialog" title="Creating new record">
    <p class="dialog-validate-tip">All form fields are required.</p>
    <div>
        <div class="column">
            <div class="row"><label for="title">Title: </label></div>
            <div class="row"><label for="money-spent">Money spent: </label></div>
            <div class="row"><label for="description">Description: </label></div>
            <div class="row"><label for="tag">Tags: </label></div>
        </div>
        <div class="column">
            <div class="row"><input id="title" type="text" /></div>
            <div class="row"><input id="money-spent" type="text" /></div>
            <div class="row"><input id="description" type="text" /></div>
            <div class="row"><input id="tags" type="text" /></div>
        </div>
        <div class="dialog-footer">
            <p class="record-for-date-message">Creating new record for <span></span></p>
        </div>
    </div>
</div>

<script type="text/javascript">
    var dialog = $('#new-record-dialog').dialog({
        autoOpen: false,
        height: 310,
        width: 400,
        modal: true,
        buttons: {
            'Save': function () {
                var title = $("#title").val();
                var moneySpent = $("#money-spent").val();
                var description = $("#description").val();
                var tags = $("#tags").val();
                var selectedDate = $(".active a").data('date');

                //validate:
                //  title - has to be text and '-' only not more that 20 symbols
                //  description - has to be text and '-', ',', '_', '.', '!', '?' and numeric only not more that 200 symbols
                //  moneySpent - has to be numeric
                //  tags - comma separated words
                                

                reportManager.appendRecord(title, moneySpent, description, tags.split(','), selectedDate);
                dialog.dialog("close");
            },
            'Cancel': function () { dialog.dialog("close"); }
        }
    });

    $('#new-record-button').click(function () {
        dialog.dialog('open');
    });
</script>
